@font-face {
  font-family: fuente;
  src: local("ProductSans-Regular"),
  local("ProductSans-Regular"),
  url(ProductSans-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 70%;
  padding: 20px;
  font-family: fuente;
}

.wrapper2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top:3%;
  font-family: fuente;
}

hr{
  border-color: black;
}

h2{
  font-family: fuente;
  color: white;
}

#container {
  background: #1a1a1a;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 40px 70px 0 black;
  text-align: center;
  font-family: fuente;
  transition: all 0.5s ease-in-out;
}

#container2{
  background: #1a1a1a;
  padding: 30px;
  width: 90%;
  position: relative;
  padding: 0px;
  border-radius: 20px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 40px 70px 0 black;
  text-align: center;
  font-family: fuente;
}

#formFooter {
  background-color: #1a1a1a;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  font-family: fuente;
}

[type=button], [type=submit]{
  background-color:#383838;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin:10px;
  transition: all 0.3s ease-in-out;
}

[type=button]:hover, [type=submit]:hover, [type=reset]:hover  {
  background-color: #9548fa;
  text-shadow: black;
  width:65%;
  transition: all 0.5s ease-in-out;
}

[type=button]:active, [type=submit]:active, [type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

[type=text]{
  background-color: #383838;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

[type=text]:hover{
  width: 70%;
  cursor:pointer;
}

[type=text]:focus{
  border-bottom: 2px solid grey;
}

*:focus {
    outline: none;
}

.titulo{
  display: flex;
  margin-left: 140px;
  margin-top: 12px;
}

h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px #1c1c1c;
  font-size: 80px;
  font-family: fuente;
}

.button2{
  position: relative;
  left:28%;
}

.button2:hover{
 width: 20%;
}

.button3{
  text-align:center;
}

.button3:hover{
  width:  auto;
}

.button4{
  background-color: #00a80b;
  width: 80%;
}

.button4:hover{
  width: 80%;
}

.button5{
  width: 19%;
}

.button5:hover{
  width: 30%;
}

table{
  border-radius: 30px;
  text-align: center;
  background-color: white;
  border-collapse: collapse;
  font-family: fuente;
  cursor: pointer;
}

tr,td{
  text-align: center;
  padding:5px;
}

tr:nth-child(even){
  background-color: #ddd;
  border-radius: 30px;
}

tr:hover{
  background-color:#9c9c9c;
  color: black;
}

a:hover{
  text-decoration: none;
}
